* {
  box-sizing: border-box;
}

ul {
  padding: 0;
}

body {
  background-color: #aba7a9;
  text-align: center;
}
.container {
  width: 400px;
  display: flex;
  flex-direction: column;
  background: rgb(214, 170, 194);
  background: linear-gradient(
    90deg,
    rgba(214, 170, 194, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  border-radius: 20px;
  margin: auto;
  -webkit-box-shadow: 11px 6px 9px -4px #838182;
  box-shadow: 11px 6px 9px -4px #838182;
}

.title {
  text-align: center;
  color: white;
  margin: 10px;
  font-weight: bold;
}

.screen {
  height: 400px;
  background-color: #d4c7cb;
  overflow-y: auto;
}

button {
  background: transparent;
  border: none;
}

.btn {
  height: 40px;
  outline: none;
}

.btn i {
  color: white;
  font-size: 25px;
  cursor: pointer;
  transition: transform 300ms ease-in;
}

.btn i:hover {
  transform: scale(1.1);
}

.item {
  display: flex;
  justify-content: space-between;
  padding: 8px 32px;
}

.item_divider {
  width: 90%;
  height: 1px;
  background-color: lightgrey;
  margin: auto;
}

.item_delete {
  transition: all 300ms ease-in;
  font-size: 16px;
  cursor: pointer;
}

.item_delete:hover {
  color: #800a10;
  transform: scale(1.1);
}

.text_box {
  height: 32px;
  border: none;
  outline: none;
  font-size: 24px;
  padding: 0 15px;
}
